{% extends 'base.html.twig' %}

{% block title %}Edit Deneme{% endblock %}

{% block body %}
    <h1>Edit Deneme</h1>

    {{ include('deneme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('deneme_index') }}">back to list</a>

    {{ include('deneme/_delete_form.html.twig') }}
{% endblock %}
