{% extends 'base.html.twig' %}

{% block title %}New Deneme{% endblock %}

{% block body %}
    <h1>Create new Deneme</h1>

    {{ include('deneme/_form.html.twig') }}

    <a href="{{ path('deneme_index') }}">back to list</a>
{% endblock %}
