{% extends 'base.html.twig' %}

{% block title %}Deneme{% endblock %}

{% block body %}
    <h1>Deneme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>id</th>
                <td>{{ deneme.id }}</td>
            </tr>
            <tr>
                <th>MessageText</th>
                <td>{{ deneme.messageText }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('deneme_index') }}">back to list</a>

    <a href="{{ path('deneme_edit', {'id': deneme.id}) }}">edit</a>

    {{ include('deneme/_delete_form.html.twig') }}
{% endblock %}
